# Tarea 1 Bases de Datos 2022-1 Grupo 22

## Integrantes:
* Eugenio Perez - 202073020-2
* Kirk Heim Neira - 201903009-4
* Ariel Pulgar - 2020730023-7

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [1]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.35)
Requirement already satisfied: sqlparse in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: backcall in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: executing in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ethan\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: sqlalchemy in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (1.1.2)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ethan\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2 in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (2.9.3)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ethan\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\ethan\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ethan\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [8]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [30]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:PASSWORD@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:1821@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [31]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="PASSWORD")

print(connection)
cursor = connection.cursor()

<connection object at 0x000002164981F670; dsn: 'user=postgres password=xxx dbname=postgres host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [38]:
%%sql
CREATE TABLE "usuarios"(
id_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(45) NOT NULL,
apellido VARCHAR(45) NOT NULL,
correo VARCHAR(45) NOT NULL,
contraseña VARCHAR(50) NOT NULL,
fecha_registro TIMESTAMP NOT NULL,
PRIMARY KEY (id_usuario)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Creadores"

In [43]:
%%sql
CREATE TABLE "creadores"(
id_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(45) NOT NULL,
apellido VARCHAR(45) NOT NULL,
popularidad INTEGER,
estilo VARCHAR(45),
PRIMARY KEY (id_creador)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Tipos_NTF"

In [45]:
%%sql
CREATE TABLE "tipos_nft"(
id_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(20) NOT NULL,
PRIMARY KEY (id_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "NFT"

In [47]:
%%sql
CREATE TABLE "nft"(
id_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
nombre VARCHAR(45) NOT NULL,
id_creador INTEGER NOT NULL,
id_tipo INTEGER,
PRIMARY KEY (id_nft),
FOREIGN KEY (id_creador) REFERENCES "creadores" (id_creador),
FOREIGN KEY (id_tipo) REFERENCES "tipos_nft" (id_tipo)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Precio NFT"

In [49]:
%%sql

CREATE TABLE "precio_nft"(
id_nft INTEGER,
fecha TIMESTAMP NOT NULL,
precio INTEGER NOT NULL,
PRIMARY KEY (fecha),
FOREIGN KEY (id_nft) REFERENCES "nft" (id_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

### Tabla "Usuario tiene NFT"

In [51]:
%%sql
CREATE TABLE "usuario_tiene_nft"(
id_usuario INTEGER,
id_nft INTEGER,
FOREIGN KEY (id_usuario) REFERENCES "usuarios" (id_usuario),
FOREIGN KEY (id_nft) REFERENCES "nft" (id_nft)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [54]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Accedimos a la tabla de "creadores" en la cual rescatamos el id, nombre y apellido del creador que tenga los requerimientos solicitados como lo son el estilo y quien sea más popular, luego ordenamos y limitamos el output a solo 1._

In [56]:
%%sql
SELECT
	id_creador,nombre,apellido
FROM
	creadores
WHERE
	estilo = 'Arte 3D'
ORDER BY
	popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(19, 'Evan', 'Reed')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Aqui optamos por una solucion anidada devido a que nos parecio lo más optimo a realizar, procedimos a seleccionar el nombre y contarlo cuantas veces se repita con el comando y le cambiamos el nombre al contador solo para efectos practicos, luego en el anidamiento juntamos las tablas para optener solo los valores requeridos y agrupamos._

In [58]:
%%sql
SELECT
	nombre,COUNT(tablanu.nombre) AS "Cantidad de precios"
FROM(
SELECT * FROM nft INNER JOIN precio_nft ON nft.id_nft = precio_nft.id_nft
) AS tablanu

GROUP BY tablanu.nombre

 * postgresql://postgres:***@localhost:5432/postgres
126 rows affected.

[('Spells of Genesis', 2),
 ('Dose of Art', 3),
 ('Art Rumble', 3),
 ('Aliens Abduction', 1),
 ('Meteorite NFT', 1),
 ('Atollon Coral', 1),
 ('Bling Bits', 1),
 ('Minecraft Sphere', 2),
 ('United Crypto Token (UCT)', 1),
 ('Depressed Dragons', 2),
 ('Crypto Jackpot', 7),
 ('Artificial Rocks', 2),
 ('Light Embrace', 1),
 ('Artistic Alpha', 1),
 ('Crypto Kitties Of War', 2),
 ('Pink Sports Cars', 1),
 ('Cards of Polo', 2),
 ('Addictive Animals', 2),
 ('Visionary Crypto', 1),
 ('Animated Hard Art', 3),
 ('Lucky Lizards', 3),
 ('Bloom of Flowers', 2),
 ('Flame Stinger', 3),
 ('Art Lover Box', 2),
 ('Doge Pal', 2),
 ('The Gold Betta', 3),
 ('Darker Clouds', 2),
 ('Digital Unicorns', 1),
 ('Digi Gods', 2),
 ('Token Watchdogs', 3),
 ('0NOCH0', 1),
 ('Wowoo World', 1),
 ('Crypto Felines', 4),
 ('Hilarious Horses', 1),
 ('Ultra Cool Dogs', 2),
 ('Crypto Pigeon Race', 4),
 ('Mint Chocolates', 3),
 ('Rainbows Ends', 2),
 ('1-Love', 2),
 ('Alice Wonderland Frozen Carolers', 3),
 ('Tokenized Superheroes', 6),
 ('Anna Frozen Entertainers', 2),
 ('Rich Rhinos', 1),
 ('Secret Stones', 2),
 ('Crypto Club', 1),
 ('Elite Fur Dog Race Club', 2),
 ('Crumbs NFT', 2),
 ('Crypto Art Gallery', 2),
 ('Mountain of Clouds', 1),
 ('Couch Potato', 1),
 ('Panther NFT', 1),
 ('Hive City', 3),
 ('Moonlit Butterfly', 1),
 ('Bee Token', 1),
 ('Crystalline Canyon', 1),
 ('Brush Point', 1),
 ('Reflected Light', 1),
 ('Outstanding Octopus', 4),
 ('Healthy Hedgehogs', 2),
 ('Crypto Potluck', 4),
 ('Thunder NFT', 2),
 ('Techno Abstract Aesthetics', 1),
 ('Dust Rift', 3),
 ('Giant Coin', 2),
 ('Women Power', 2),
 ('Touchdown', 1),
 ('Funny Frogs', 1),
 ('Midas NFTs', 4),
 ('Calm Crows', 3),
 ('Dark Horse Lady', 4),
 ('Crypto Punked', 1),
 ('Crypto Diamonds', 4),
 ('Madame Witch', 4),
 ('Busy Bats', 1),
 ('Dapper Dinos', 1),
 ('Blizz Blizzard', 3),
 ('Pandamonium', 5),
 ('Crypto Raptors', 2),
 ('Crypto Boom', 2),
 ('Crypto Life', 1),
 ('Krypto Queen', 1),
 ('Koala Kickers', 1),
 ('1NiTRO', 4),
 ('Graceful Gorillas', 2),
 ('Qat Tree Unicorn', 4),
 ('Fight Punks', 6),
 ('Mike Halloween Yodelers', 2),
 ('Koalas in Love', 1),
 ('Fair Coin', 1),
 ('Art Dodger', 4),
 ('Cyberboxer', 2),
 ('Cryptonaut', 2),
 ('0NOZER0', 1),
 ('Sphere Art', 3),
 ('White Storm', 2),
 ('Burger Bits', 1),
 ('The Binary Girl', 5),
 ('The Teacup Pomeranian', 2),
 ('Flame Blade', 1),
 ('Non Fungible Nibbles', 3),
 ('Fantasy Token', 4),
 ('Awesome Concept', 3),
 ('Ultimate League Of Paragon', 7),
 ('Crypto Potato', 7),
 ('Crypto Bunny Ranch', 3),
 ('Nova Auroras', 1),
 ('3D Me', 1),
 ('Fight For The Title', 7),
 ('Flame Cats', 2),
 ('Headed Shark Attack', 1),
 ('Butterfly Dust', 2),
 ('Silver Lining Pixy', 4),
 ('Crypto Kitties', 2),
 ('Enthusiastic Elephants', 2),
 ('Arty Arts', 2),
 ('Clever Chimp', 3),
 ('Water Wiggle', 4),
 ('Blue Mood Chip', 1),
 ('Resilient Rats', 5),
 ('Artful Antlers', 4),
 ('Elephant Treasure Hunt', 2),
 ('Block View', 2),
 ('0xHile', 3),
 ('Ultimate Iconic Crypto (IUC)', 3),
 ('Bitsy', 3),
 ('Bit NFT', 3)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** Se selecciona el nombre y el tipo nombre del tipo con leeft join y ordenamos por precio y seleccionamos 1

In [240]:
%%sql


SELECT 
	nft.nombre, tipos_nft.nombre as TIPO
FROM nft
LEFT JOIN precio_nft ON precio_nft.id_nft = nft.id_nft
LEFT JOIN tipos_nft ON tipos_nft.id_tipo = nft.id_tipo

WHERE
	precio > 0
ORDER BY
	precio DESC

LIMIT 1;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Techno Abstract Aesthetics', 'Musica')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Tomamos los datos utiles de la union de las tablas "usuarios" y "usuario_tiene_nft", agrupamos y ordenamos descendiente._

In [242]:
%%sql
SELECT
	nombre AS Nombre,apellido AS Apellido
FROM(
	SELECT
	 nombre,apellido,COUNT(nombre) AS "Cantidad NFT"
FROM
	usuarios RIGHT JOIN usuario_tiene_nft ON usuarios.id_usuario = usuario_tiene_nft.id_usuario
GROUP BY
	nombre,apellido,nombre
ORDER BY
	COUNT(nombre) DESC
LIMIT 1
) AS machina

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Sharon', 'Herrera')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Desde una consulta anidada unimos las tablas y comenzamos a contar los ID's de los NFT's que se repiten para así saber quien a tenido más variaciones en su precio historicamente, luego con un SELECT fuera de la anidación tomamos los datos que nos son relevantes._

In [244]:
%%sql
SELECT
	id_nft AS "ID",nombre AS "Nombre"
FROM(
	SELECT
	id_nft,nombre,COUNT(id_nft)
FROM 
	precio_nft NATURAL JOIN nft
GROUP BY
	nombre,id_nft,id_nft
ORDER BY
	COUNT(id_nft) DESC
LIMIT 1
) AS deus

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(10, 'Crypto Potato')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Aqui lo que hicimos fue tomar el nombre y apellido de una consulta anidada la cual nos juntaba las tablas "usuarios" y "usuario_tiene_nft" en la cual mediante una condición sacamos a los usuarios que su id no estaba presente en la tabla "usuario_tiene_nft", es decir, eran NULL._

In [246]:
%%sql
SELECT
	nombre AS "Nombre",apellido AS "Apellido"
FROM(
	SELECT
	nombre,apellido,usuario_tiene_nft.id_usuario,usuario_tiene_nft.id_nft
	FROM
	usuarios LEFT JOIN usuario_tiene_nft ON usuario_tiene_nft.id_usuario = usuarios.id_usuario
WHERE
	usuario_tiene_nft.id_usuario IS NULL
) AS apoyo

 * postgresql://postgres:***@localhost:5432/postgres
132 rows affected.

[('Gertrude', 'Blank'),
 ('Christopher', 'Patten'),
 ('Yesenia', 'Denison'),
 ('Roy', 'Thompson'),
 ('Nikki', 'Danielson'),
 ('Derek', 'Mccormick'),
 ('Alex', 'Landers'),
 ('Daniel', 'Parker'),
 ('David', 'Stewart'),
 ('Richard', 'Harris'),
 ('Thelma', 'Rester'),
 ('Diana', 'Anders'),
 ('Rebecca', 'Chessman'),
 ('Shirley', 'Richardson'),
 ('Eric', 'Clinard'),
 ('Chris', 'Oquendo'),
 ('Leslie', 'Weatherwax'),
 ('Timothy', 'Hall'),
 ('Tara', 'Lewis'),
 ('Aileen', 'Meyers'),
 ('Maria', 'Remmele'),
 ('Brittany', 'Young'),
 ('Valerie', 'Wheelis'),
 ('Stacy', 'Barksdale'),
 ('David', 'Northrup'),
 ('Michael', 'Stephens'),
 ('Jimmy', 'White'),
 ('Clara', 'Allan'),
 ('Joyce', 'Johnson'),
 ('Roger', 'Bragdon'),
 ('Laura', 'Ceravolo'),
 ('Richard', 'Yuste'),
 ('Karen', 'Villafana'),
 ('Paul', 'Hernandez'),
 ('Mae', 'Cannon'),
 ('Anne', 'Larios'),
 ('Janice', 'Tamm'),
 ('Teresa', 'Guererro'),
 ('Susan', 'Phelps'),
 ('Andres', 'Bailey'),
 ('Heather', 'Hall'),
 ('John', 'Heier'),
 ('Bobby', 'Carter'),
 ('Miquel', 'Nagle'),
 ('Denise', 'Dolan'),
 ('Kerri', 'Daniels'),
 ('Joseph', 'Washington'),
 ('Janice', 'Brust'),
 ('Regina', 'Livingstone'),
 ('Joseph', 'Patterson'),
 ('Eve', 'Cameron'),
 ('Michael', 'Wohlert'),
 ('Frank', 'Thompson'),
 ('Dustin', 'Mikolajczyk'),
 ('Karen', 'Young'),
 ('Gregory', 'Norton'),
 ('Joe', 'Godsey'),
 ('Diane', 'Bollinger'),
 ('Danny', 'Fischer'),
 ('Thomas', 'Rodriguez'),
 ('Brian', 'Woolwine'),
 ('Anita', 'Guzman'),
 ('Shirley', 'Pimental'),
 ('Vance', 'Terry'),
 ('Romeo', 'Arnold'),
 ('Lena', 'Simmons'),
 ('Matthew', 'Friedman'),
 ('Casey', 'Ungar'),
 ('Linda', 'Vanhoose'),
 ('Noreen', 'Aguilar'),
 ('Andrew', 'Furstenberg'),
 ('Harvey', 'Mcwhirt'),
 ('Bill', 'Sedore'),
 ('Audrey', 'Williams'),
 ('Beatrice', 'Davenport'),
 ('Dennis', 'Hurd'),
 ('Thomas', 'Aste'),
 ('Johnny', 'Bernard'),
 ('Kenisha', 'Kennedy'),
 ('Franklin', 'Heidebrecht'),
 ('Janie', 'Walker'),
 ('Henry', 'Lynaugh'),
 ('Patricia', 'Knox'),
 ('Jonie', 'Will'),
 ('Jennifer', 'Abbott'),
 ('Concepcion', 'Jones'),
 ('William', 'Abron'),
 ('Audrey', 'Orduna'),
 ('Ross', 'Mcclintock'),
 ('Wallace', 'Dominguez'),
 ('Lloyd', 'Green'),
 ('Wilma', 'Brown'),
 ('Isaac', 'Pash'),
 ('Mark', 'Nick'),
 ('Mabel', 'Ducking'),
 ('Roderick', 'Herron'),
 ('Mark', 'Burke'),
 ('Patty', 'Clemons'),
 ('Robert', 'Oleary'),
 ('Elizabeth', 'Alward'),
 ('Jerry', 'Kaua'),
 ('Jonnie', 'Werner'),
 ('Philip', 'Rivera'),
 ('Douglas', 'Parrish'),
 ('Anthony', 'Oldaker'),
 ('Darren', 'Jones'),
 ('Angela', 'Wynn'),
 ('William', 'Robison'),
 ('Allen', 'Alaniz'),
 ('Megan', 'Law'),
 ('Susan', 'Irizarry'),
 ('George', 'Liebl'),
 ('Brandy', 'Milton'),
 ('Francis', 'Ambrose'),
 ('George', 'Hunt'),
 ('Alice', 'Fournier'),
 ('Deborah', 'Xiong'),
 ('Ethel', 'Wilson'),
 ('Morris', 'Pope'),
 ('Chad', 'Moore'),
 ('Xochitl', 'Leary'),
 ('Zachery', 'Smith'),
 ('Elizabeth', 'White'),
 ('Harold', 'Moore'),
 ('Josephine', 'Miller'),
 ('David', 'Grace'),
 ('Mildred', 'Moore'),
 ('Peter', 'Kroeger'),
 ('Carlos', 'Ford'),
 ('Drew', 'Alcazar'),
 ('Tommie', 'Dignan'),
 ('Colleen', 'Oliver')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _FALTA PULIRLA Y HACER EL JOIN CON EL PRECIO, ESTA EL ID PARA ESO._

In [247]:
%
SELECT
	*
FROM(
	SELECT
		nft.nombre,id_nft
	FROM 
		tipos_nft INNER JOIN nft ON tipos_nft.id_tipo = nft.id_tipo
	WHERE
		tipos_nft.nombre = 'Juegos'
	GROUP BY
		nft.nombre,id_nft
) AS aux
%sql

IndentationError: unexpected indent (1727243071.py, line 3)

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Para esta consulta, mediante el SELECT tomamos el nombre y precio (Que es lo solicitado), luego juntamos las tablas "nft" y "precio_nft" para acceder a la fecha, luego con el comando 'BETWEEN' tomamos desde el 2017 hasta el 2020._

In [ ]:
%%sql
SELECT
	nombre,precio
FROM 
	nft LEFT JOIN precio_nft ON nft.id_nft = precio_nft.id_nft
WHERE
	fecha BETWEEN '2016-12-31' AND '2020-01-01'

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Tomando en cuanta los supuestos comentados en el código, primero seleccionamos los datos de relevancia de la tabla, luego los agrupamos y ordenamos de mayor a menor y tomamos la 1ra ocurrencia._

In [ ]:
%
--Asumiendo que la popularidad incrementa en 1 con cada venta y solo tomaremos a la 1ra ocurrencia--
SELECT
	nombre AS "Nombre",apellido AS "Apellido",popularidad AS "Cantidad"
FROM
	creadores
GROUP BY
	nombre,apellido,popularidad
ORDER BY
	popularidad DESC
LIMIT 1
%sql

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _FALTA TERMINARLA, VA ENCAMINADA._

In [ ]:
%
SELECT
	id_nft,nft.nombre
FROM
	nft INNER JOIN creadores ON nft.id_creador = creadores.id_creador
WHERE
	creadores.id_creador = 7
%sql

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [248]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

 * postgresql://postgres:***@localhost:5432/postgres
0 rows affected.

[]